# Subscription where resources will be deployed
export SUBSCRIPTION_ID=

# Environment (used in naming of image definitions)
# Suggestion: replace Test01 with your email alias or something unique to you
#             e.g. Bob01
export CVM_ENVIRONMENT_SUFFIX=Test01

# Resource group and location of Azure Compute Gallery
export CVM_RESOURCE_GROUP=
export CVM_LOCATION=
export CVM_GALLERY_NAME=

# Storage Account for VM  Image Templates
export CVM_STORAGE_ACCOUNT=
export CVM_CONTAINER_NAME=

# Managed Identity
export CVM_IMAGE_BUILDER_ID_NAME=

# Custom Role Definition
export CVM_IMAGE_BUILDER_ROLE_NAME="Azure Image Builder Service Image Creation Role (Dev)"

# Resource Tags - Space-Separated list 
# DO NOT USE SPACES IN THE VALUES OF THE KEYS OR VALUES
export CVM_TAGS="CostCenter=Finance Project=Azure_TRE CreatedBy=AN_Other"